// Colors
$primary: #0038FF;
$light-blue: #D9E4FF;

$black: #000000;
$white: #FFFFFF;

$grey-100: rgba(108, 118, 139, 0.5);
$grey-200: #A4A4AB;
$grey-300: #8E8E93;
$grey-400: #6C768B;
$grey-500: #39393C;
$grey-600: #262626;

$interface-elements: $grey-200;
$interface-inp: $grey-500;
$interface-bg: $grey-600;

$message-bg: $light-blue;
$message-text: $black;
$message-time: $grey-300;

// Fonts
$Roboto: 'Roboto', Arial, sans-serif;
$Inter: 'Inter', Arial, sans-serif;
$SF-Pro-Text: 'SF-Pro-Text', Arial, sans-serif;